<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
<title>Alumni Cell Website</title>
<link rel="stylesheet" href="/public/style.css" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">     

<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
   Integrity = "sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
   crossorigin = "anonymous" referrerpolicy = "no-referrer"> </script>
</head>
<body>
<section class="header">
<nav>
    <!--<a href="index.ejs"><img src="images/logo.png"></a>-->
<div class="nav-links">
    <ul>
        <li><a href="home.ejs">HOME</a></li>
        <li><a href="about.ejs">ABOUT</a></li>
        <li><a href="contact.ejs">CONTACT</a></li>
    </ul>
</div>
</nav>
<div class="box">
    <h1>IIT INDORE ALUMNI CELL</h1>
    <p>
        Welcome to the IIT Indore Alumni Cell: Connecting Generations, Building Futures
    </p>
    <a href="https://www.iiti.ac.in/" class="h-btn">Visit our college website</a>
</div>
</section>
<!---Events -->
<section class="events">
<h1>Past and Upcoming Events</h1>
<p>Events organised by Alumni Cell</p>
<div class="row">
<div class="events-col">
    <h3>Reunion of the Class of 2013</h3>
    <p>We regretfully announce that the Decennial Reunion scheduled on December 30, 2022, has been postponed due to not meeting the required number of attendees needed to organize this event at this time.

        We will notify you of the same event to be organized in the near future.
        
        We are requesting all our alumni, whenever you come to Madhya Pradesh, please visit the Campus of your Institute which has come up completely in a new shape.
    </p>   
</div>
<div class="events-col">
    <h3>Apple Pie with Alumni</h3>
    <p>Apple Pie with Alumni on 28th Dec!
        Apple Pie With Alumni is an event organised by the Alumni Cell to connect our alumni with our students. In an informal talk session, the students interact with the alums, who share their experiences, stories, nostalgia and life.
        
    </p>   
</div>
<div class="events-col">
    <h3>IIT Indore Convocations</h3>
    <p>IIT Indore's convocation event is a prestigious and memorable occasion that celebrates the academic achievements of its graduating students. 
        The event typically includes speeches by distinguished guests, faculty, and students, as well as the presentation of awards and honors to outstanding scholars. It is a moment of pride and accomplishment for the entire IIT Indore community.
        IIT Indore organised its 9th Convocation on Tuesday, November 9th, 2021.
    </p>   
</div>

</div>
</section>
<!------Gallery------>
<!-- Slideshow container -->
<section class="slideshow-container">
    <h1>Our gallery</h1>
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="../images/alumni.png" style="width:75%">
      
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../public/images/t1673202932_NbuWFPcg5I.jpg" style="width:75%" >
     
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../public/images/t1673202307_EfNjRcmwj4.jpg" style="width:75%">
      
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../public/images/t1673202309_gnNUNzP047.jpg" style="width:75%">
      
    </div>

    
</section>
<!--About---->
<section class="about">
<h1>Convocations</h1>
<p>The regular conduct of the convocation program at IIT Indore is a momentous occasion that celebrates academic excellence and marks the transition of students into the professional world. It serves as a source of inspiration and motivation for the graduating class as they embark on their future endeavors.</p>
<div class="row">
<div class="about-col">
  <img src="../public/images/convocation 2019.jpg">
  <h3>Ceremonial Convocation - Batch 2020</h3>
  <p>IIT Indore organized its Ceremonial Convocation for 2020 Batch on Wednesday, December 28th, 2022.
  </p>

</div>
<div class="about-col">
  <img src="../public/images/convocation 2021.jpg">
  <h3>IIT Indore Ninth Convocation 2021</h3>
  <p>IIT Indore organised its 9th Convocation on Tuesday, November 9th, 2021.
     Padma Shree awardee, Prof. K. Vijay Raghavan, Principal Scientific Adviser, Government of India, (Former Director NCBS Bangalore), graced the occasion as the Chief Guest.
  </p>
</div>

<div class="about-col">
  <img src="../public/images/convocation 2017.jpg">
  <h3>IIT Indore Fifth Convocation - 2017</h3>
  <p>	
    The 5th Convocation of IIT Indore was held on Saturday, 4th November, 2017, at 2.30 pm at the IIT Indore campus in Simrol, Indore 453552. 
    Secretary, Department of Space, Govt. of India, and Chairman of Indian Space Research Organization (ISRO), Shri A S Kiran Kumar was Chief Guest at the Convocation.
  </p>

</div>
<div class="about-col">
  <img src="../public/images/4th convocation.jpg">
  <h3>IIT Indore Fourth Convocation - 2016</h3>
  <p>	
    The 4th Convocation of IIT Indore was held on 12 Nov. 2016, Saturday from 14:30 onward in permanent campus.
    Prof. Ashutosh Sharma, Secretary, Department of Science and Technology, Government of India, was the Chief Guest of 4th Convocation
  </p>

</div>
</div>
</section>
<!------Director's Message-->
<section class="director">
<h1>Director's Message</h1>
<div class="row">
<div class="dir-col">
  <img src="../public/images/suhas_s_joshi.png">
  <div>
<p>"Our Alumni Cell at IIT Indore is a bridge between the past and the future.
  We encourage our esteemed alumni to stay connected, share their experiences, and contribute to the growth of our institution. Your support and insights are invaluable in shaping the success stories of our current students.</p>
<h3>Mr.Suhas Joshi</h3>
  </div>
</div>
</div>
</section>
<!--------contacts------->
<section class="con">
  <h1>Your input and involvement are essential to strengthening our alumni network and enhancing the IIT Indore experience."</h1>
  <a href="contact.ejs">CONTACT US</a>
</section>
<!-----footer---->
<section class="footer">
<h5>About Us</h5>
<p>We are a vibrant community of graduates committed to fostering lifelong connections,<br> promoting professional growth, and contributing to the development of our beloved alma mater, IIT Indore.
</p>
<div class="icons">
<i class="fa fa-facebook"></i>
<i class="fa fa-linkedin"></i>
<i class="fa fa-instagram"></i>
</div>
</section>  
<label class = "toggleButton">
  <input type = "checkbox" id = "toggle">
  <div class = "roundButton circle" ></div>
</label>

</body>

<script>

let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); 
}

$('#toggle').change(() => {
         if ($('#toggle').is(":checked")) {
            $("body").addClass("dark-class");
         } else {
            $("body").removeClass("dark-class")
         }
      })
</script>


</html>